<%= render 'carousel/carousel', slide_show_items: @slide_show_items %>

<br/>
<br/>

<div class="row">
  <div class="col-xs-3 column"></div>
  <div class="col-xs-6 column well">
    <h4>About Kraeger Syrup</h4>
    <p>Details about how syrup is made, how long, why it's so good</p>
  </div>
  <div class="col-xs-3 column"></div>
</div>