<%= render 'carousel/carousel', slide_show_items: @slide_show_items %>

<br/>
<br/>
<div class="row">
  <div class="col-xs-3 column"></div>
  <div class="col-xs-6 column well">
    <h4>To Purchase The Best Syrup you've ever tasted:</h4>
    <p>Instructions to purchase Syrup</p>
  </div>
  <div class="col-xs-3 column"></div>
</div>