<% active||= false %>
<% size||= false %>
<% alt||= file %>
<% caption||= nil %>


<div class="item <%= 'active' if active %>">
  <%= image_tag image, alt: alt, class: "img-responsive center-block" %>

  <% if caption %>
      <div class="carousel-caption">
        <h4><%= caption %></h4>
      </div>
  <% end %>
</div>