

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">


  <div class="carousel-inner" role="listbox">
    <% slide_show_items.each do |ssi| %>
        <%= render 'carousel/carousel_image', image: ssi.image.url, alt: ssi.alternate_text || ssi.name, active: ssi.position == 1, caption: ssi.caption  %>
    <% end %>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>