<div class="row">
  <ol class="breadcrumb">
    <li><%= link_to("Admin Hub", admin_path) %></li>
    <li><%= link_to("Products", products_path) %></li>
    <li class="active">Create New Product</li>
  </ol>
</div>

<%= render 'form', product: @product %>

