<div class="row">
  <ol class="breadcrumb">
    <li><%= link_to("Home", root_path) %></li>
    <li><%= link_to("Pictures", slide_show_items_path) %></li>
    <li class="active">Edit Picture</li>
  </ol>
</div>

<%= render 'form', slide_show_item: @slide_show_item %>

