<%= javascript_include_tag 'slide_show_items' %>

<div class="row">
  <ol class="breadcrumb">
    <li><%= link_to("Home", root_path) %></li>
    <li class="active">Pictures</li>
  </ol>
</div>

<br/>

<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-success" style="color:white;" href="<%= new_slide_show_item_path %>">New Picture</a>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-xs-12 col-md-9">
    <div id="pictures" class="top5">

    <%= render 'slide_show_items', slide_show_items: @slide_show_items %>

    </div>
  </div>
</div>


<%#= render 'modalNew' %>