<div class="row">
  <ol class="breadcrumb">
    <li><%= link_to("Admin Hub", admin_path) %></li>
    <li><%= link_to("Pictures", pictures_path) %></li>
    <li class="active">Create new Picture</li>
  </ol>
</div>

<%= render 'form', slide_show_item: @slide_show_item %>
