
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'farm2.jpg', size: '397x300', alt: 'Farm', class: "img-responsive center-block" %>
    </div>

    <div class="item">
      <%= image_tag 'sugarbush2.jpg', alt: 'Sugar Bush', class: "img-responsive center-block" %>
    </div>

    <div class="item">
      <%= image_tag 'sugarbush.JPG', size: '458x300', alt: 'Sugar Bush', class: "img-responsive center-block" %>
    </div>

    <div class="item">
      <%= image_tag 'syrup3.jpg', size: '182x300', alt: 'Syrup', class: "img-responsive center-block" %>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>