<nav class="navbar navbar-default navbar-default-top" role="navigation">
  <div class="container">
    <% logo = Content.find_by_name('logo') %>
    <% logo = logo && logo.image || 'obj-maple-leaf.png' %>

    <div class="navbar-header">
      <%= link_to (SettingUtility.setting('brand') + ' ').html_safe + image_tag(logo), root_path, class: 'navbar-brand syrup' %>


      <ul id="pills" class="nav nav-pills pull-right">
        <%= render 'layouts/pill', title: 'Home', action: params[:action], destination: root_path %>
        <%= render 'layouts/pill', title: 'About',action: params[:action], destination: about_path %>
        <%= render 'layouts/pill', title: 'Contact',action: params[:action], destination: contact_path %>
      </ul>

    </div>
  </div>
</nav>